# Dependencies
node_modules/
vendor/
# Lock files
package-lock.json
composer.lock
yarn.lock
pnpm-lock.yaml
bun.lockb


# Environment & Private Data
.env
.env.local
.env.*.local

# Build & Distribution
build/
dist/
.dist/
*.zip
*.tar.gz

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.map
sftp.json

# WordPress & Local Plugin Dev
.ignores
.phpdoc/
wp-cli.phar
routing.json

# Development Temp/Notes
temp.php
temp.js
temp.ts
temp.tsx
todo.txt
todo.md
