@config "../../tailwind.config.js";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

/* Essential Scoped Preflight */
#productbay-root,
#productbay-root *,
#productbay-root ::before,
#productbay-root ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

/* Container positioning for scoped modals */
#productbay-root {
    position: relative;
    /* 32px is the height of the admin bar */
    min-height: calc(100vh - 32px);
}

#productbay-root a {
    text-decoration: none;
}


/* *********************************
 * Wordpress default styles override
 * *********************************/

/* Remove padding from wp-content */
#wpcontent {
    padding: 0 !important;
}

/* Remove wordepress default admin footer */
#wpfooter {
    display: none !important;
}

/* Remove padding from wpbody-content */
#wpbody-content {
    padding: 0 !important;
}